
.d1{
   
    width: 580px;
    height: 615px;
    position: absolute;
    margin-left: 60px;
    margin-top: 35px;
   
}

.text
{
    position: relative;
    display: inline-block;
    margin-top: 80px;
    margin-left: 100px;
    font-size: 11px;
    height:20px;
}

.text1
{
    display: inline-block;
    position: relative;
    margin-top: 50px;
    height:20px;
    width: 200px;
    font-size: 40px;
   
}
.pr
{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 14px;
    
}
.main{
   
    display: flex;
   
}
.i{
    width: 280px;
    height: 300px;
    padding-left: 70px;
    margin-top: 20px;
    
}

.img
{
   width: 280px;
    height: 300px;
    margin-left: 320px;
    padding-bottom: 40px;
    position: absolute;
}

.s1
{
    position: relative;
    margin-left: 360px;
    
}
.sub1
{
   
   display: inline-block;
    font-size: 11px;
    margin-left: 9px;
}

.sub2
{
  
    display: inline-block;
    font-size: 30px;
}

#img3
{
    margin-top: 200px;
   
}

.sub3
{
    
    display: inline-block;
     font-size: 11px;
     margin-left: 9px;
     margin-top: 210px;
    
}

 .sub4
{
 
    display: inline-block;
    font-size: 30px;

}

.s2
{
    position: relative;
    margin-left: 360px;
    
}

.s3
{
    position: relative;
    margin-left: 360px;
}
.sub5
{
   
    display: inline-block;
     font-size: 11px;
     margin-left: 9px;
     margin-top: 9px;
}

.sub6
{

    display: inline-block;
    font-size: 30px;

}

.s4
{
    position: relative;
    margin-left: 360px;
}

#img4
{
    margin-top: 200px;
}

.sub7
{
   
    display: inline-block;
     font-size: 11px;
     margin-left: 9px;
     margin-top: 209px;
}

.sub8
{
  
    display: inline-block;
    font-size: 30px;
}


.ncontainer {
    display: flex;
}

.nhelp {

    padding: 30px;
    width: 460px;
}

.nhelp h3 {
    margin-left: 30px;
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}

.nhelp ul {
    list-style: none;
    margin-left: 30px;
}

.nhelp li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    color: white;
    margin-bottom: 15px;
    border: 2px;
    text-size-adjust: 30px;
}

.nhelp li a:hover {
    color: skyblue;
    text-decoration: underline;
}


.ncontactus {

    padding: 30px;
    width: 400px;
}

.ncontactus h3 {
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}

.ncontactus ul {
    list-style: none;
}

.ncontactus li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    color: white;
    margin-bottom: 15px;
    border: 2px;
    text-size-adjust: 30px;
}

.ncontactus li a:hover {
    color: skyblue;
    text-decoration: underline;
}

.nquick {

    padding: 30px;
    width: 410px;
}

.nquick h3 {
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}

.nquick ul {
    list-style: none;
}

.nquick li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    color: white;
    margin-bottom: 15px;
    border: 2px;
    text-size-adjust: 30px;
}

.nquick li a:hover {
    color: skyblue;
    text-decoration: underline;
}

.nsocial {

    padding: 30px;
    width: 360px;
}

.nsocial h3 {

    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}

.nsocial ul {
    list-style: none;
}

.nsocial li img {

    line-height: 2;
    color: white;
    padding-bottom: 10px;
}

.nsocial li:hover {

    width: max-content;
    background-color: rgb(92, 130, 143);
    border-radius: 5px;
}


.ncopyright {
    color: white;
    margin-left: 1120px;
}

.nfooter {

    background-color: rgb(30, 30, 66);
    margin-top: 500px;
}

.nnav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 19, 37);
    height: 100px;
}

.nlinks {
    display: flex;
    width: 400px;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.nlinks li {
    margin-top: 33px;
    padding: 3px;
}

.nlinks li a {
    font-size: large;
    font-weight: 500;
}

.nlinks li:hover {

    background-color: rgb(92, 130, 143);
    border-radius: 5px;
}


.nlinks li a {
    text-decoration: none;
    color: white;
}

.nlogo {
    
    margin-top: 24px;
    margin-left: 15px;
}

.ni1
{
    height: 40px;
    width: 240px;
}